body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #302821;
}

/* sidebar */

#sidebar {
    background-color: #1A1410;
    color: #c49a50;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0 50px;
    position: sticky;
    top: 0;
    height: 100vh;
}

header {
    background-color: #4A3F35;
    color: #c49a50;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

main {
    background-color: #302821;
    color: #c4b59e;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#sidebar svg {
    fill: #c49a50;
    width: 30px;
}

#tabs-box > div {
    display: flex;
    align-items: center;
    margin: 8px 0;
    cursor: pointer;
}

#settings-box {
    margin-top: 50px;
}

#settings-box > div {
    display: flex;
    align-items: center;
    margin: 8px 0;
    cursor: pointer;
}

#sidebar p {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}


/* header */

header svg {
    fill: #d4a96a;
    width: 28px;
    cursor: pointer;
}

#search input {
    width: 50%;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    background-color: #302821;
    color: #c49a50;
    font-size: 15px;
    margin: 0 15px;
    min-width: 100px;
    padding-left:10px;
}

#search input:focus {
    outline: none;
}

#search {
    display: flex;
    align-items: center;
    width: 100%
}

#upper-header {
    display: flex;
    padding: 10px 50px;
}

#notification {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

#notification-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notification-profile-pic img {
    width: 100%;
    height: 100%;
}

#lower-header {
    padding: 0 50px;
}

#profile {
    display: flex;
    align-items: center;
}

#profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-pic img {
    width: 100%;
    height: 100%;
}

#profile-title {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
}

#profile-title p {
    font-size: 15px;
    margin-bottom: 5px;
}

#profile-title h2 {
    margin-top: 0;
}

#action-btns {
    display: flex;
    margin-left: auto;
    gap: 30px
}

#action-btns button {
    width: 100px;
    height: 40px;
    background-color: #c49a50;
    color: white;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#action-btns button:hover {
    background-color: #e9bf77;
}

/* main */

main svg {
    width: 30px;
    fill: #c49a50;
    cursor: pointer;
}

main {
    display: flex;
}

#your-projects {
    margin: 5px 5px 5px 20px;
    padding: 10px;
    min-width: 1318px;
}

#project-cards-grp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.project-card {
    background-color: #1A1410;
    padding: 20px;
    border-left: 6px solid #c49a50;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 180px 1fr;
    column-gap: 20px;
}

.project-card a {
    text-decoration: none;
}

.card-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}

.card-img img {
    width: 100%;
    width: 100%;
    border-radius: 5px;
}


.card-svg-grp {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-left: auto;
}

.card-svg-grp a {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

.card-svg-grp a svg {
    width: 22px
}

.project-card h3 {
    color: #c49a50;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 5px;
}

.project-card h4 {
    color: #c49a50;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
}

#main-right {
    margin: 5px;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    height: 100vh;
    max-width: 331px;
}

#announcements-card-grp, #trending-card-grp {
    background-color: #1A1410;
    padding: 20px;
    border-radius: 10px;
}

.announcement-card {
    cursor: pointer;
}

.a-card-1 {
    border-bottom: 1px solid #c49a50;
}

.announcement-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 8px
}

.announcement-card p {
    font-size: 14px;
}

.trending-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    cursor: pointer;
}

.trending-card div {
    background-color: aqua;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-card div img {
    width: 100%;
    height: 100%;
}

.trending-card h3 {
    font-size: 15px;
    margin-left: 10px;
}

/* Modal */

#form-dialog {
    width: 80%;
    height: 70%;
    background-color: #1A1410;
    color: #c49a50;
    border-radius: 10px;
    padding: 80px 100px;
}

#inner-dialog-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

#dialog-img {
    width: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dialog-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#add-new-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#add-new-form label {
    display: block;
    margin-left: 15px;
    margin-bottom: 5px;
}

#add-new-form input{
    width: 90%;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    background-color: #302821;
    color: #c49a50;
    font-size: 15px;
    min-width: 100px;
    padding-left:10px;
}

#add-new-form textarea{
    width: 90%;
    resize: none;
    height: 200px;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    background-color: #302821;
    color: #c49a50;
    font-size: 15px;
    min-width: 100px;
    padding-left:10px;
}

input:focus, textarea:focus {
    outline: none;
}

#add-new-form button{
    width: 91%;
    height: 35px;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    background-color: #c49a50;
    color: white;
    font-size: 15px;
    min-width: 100px;
    padding-left:10px;
    cursor: pointer;
}

#add-new-form button:hover {
    background-color: #e9bf77;

}

.project-card.read {
  border-color: green;
}